h1, p {
	font-family: Arial,Helvetica,sans-serif;
}

.img-brand{
	content: url(images/logoDesktop.png);
	max-height: 3rem;
	margin-right: 2rem;
}

@media (max-width: 47.9em) { 
	.img-brand { 
		content: url(images/logoSmall.png);
		width: auto;
		padding-left: 0;
		margin-right: 0;
		}
}

.jumbotron{
	display: list-item;
}

.jumbotron h2{
	line-height: inherit;
}

.color-green{
	color: rgb(102, 190, 0);
}

.highlight-green{
	background-color: rgb(102, 190, 0);
	color: white;
}

.carousel-item {
	height: 400px;
	width: 100%;
	overflow: hidden;
   }
   
   .carousel-item img {
	   height: auto;
	   width: 100%;
	   min-width: 90%;
   }
   
   .jumbotron{
	   margin-bottom: 0rem;
   }

   .card-img-top{
	max-height:10rem;
	width:auto;
}