h1, p {
	font-family: Arial,Helvetica,sans-serif;
}

.img-brand{
	content: url(images/logoDesktop.png);
	max-height: 3rem;
}

@media (max-width: 47.9em) { 
	.img-brand { 
		content: url(images/logoSmall.png); 
		max-width: 3rem;
		height: auto;
		}
}